.profile-container {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--green)
}

.container-column {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.underline-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--green-light)
}