.button-disabled {
    background: var(--gray-dark);
    cursor: not-allowed;
    border: none;
}

.delete-button {
    background: var(--red-dark);
    border: 1px solid var(--red);
    width: 40px;
}

.button-min {
    width: 40px;
}

button {
    cursor: pointer;
}