.user-chat-items {
    .user-chat-item-active {
        background: var(--white);
        color: var(--black);
    }

    .user-chat-item {
        background: var(--green);
    }
}

.user-block-admin {
    border: 1px solid var(--blue-light);
}

.user-block-container {
    margin: 5px 0;
}

.user-block-login {
    margin-left: 5px;
}
