h1 {
    color: red;
}

.flex {
    display: flex;
}

.height5proc {
    height: 5%;
}

.height10proc {
    height: 10%;
}

.height100proc {
    height: 100%;
}

.bordertop {
    border-top: 1px solid #000;
}
.bordernone {
    border: none;
}
.borderbottom {
    border-bottom: 1px solid #000;
}
.borderright {
    border-right: 1px solid #000;
}

.width100proc {
    width: 100%;
}
.width80proc {
    width: 80%;
}

.width10proc {
    width: 10%;
}
.width20proc {
    width: 20%;
}

.center {
    justify-content: center;
}

.column {
    flex-flow: column;
}

.columnwrap {
    flex-flow: column wrap;
}

nav {
    background: #017401;
    padding: 20px 0;
}

a {
    color: blue
}

nav li, nav a {
    color: #FFF;
}

button {
    background: yellow;
    padding: 20px;
    border-radius: 100%;
}

form {
    background: coral;
    padding: 20px 10px;
}

input {
    background: orange;
}

ul {
    background:darkgray;
}

ul li {
    color:darkviolet;
}

button a {
    height: 100%;
    width: 100%;
}