<main>
    <h1>Смена аватара</h1>
    <form style="display: flex; justify-content: center; flex-flow: column wrap; align-content: space-around;">
        <lable style="display: flex; flex-flow: column;">аватар<input style="display: flex; justify-content: center;" name="avatar" value="avatar" /></lable>
    </form>
</main>
