{{> head }}
<main>
    <h1>Смена аватара</h1>
    <form class="flex center columnwrap" style="align-content: space-around;">
        <lable class="flex column">аватар<input class="flex" class="center" name="avatar" value="avatar" /></lable>
    </form>
    <button><a href="index.hbs">назад</a></button>
</main>
