<div>
    <div style="display: flex; justify-content: center; height: 5%; border-bottom: 1px solid #000;">
        <div style="display: flex; justify-content: center; width: 90%; border-right: 1px solid #000;">
            охуенный чат
        </div>
        <div style="display: flex; justify-content: center; width: 10%;">
            <a href="user.hbs">охуенный ты</a>
        </div>
    </div>
    <div style="height: 90%; display: flex;">
        <div style="display: flex; justify-content: center; width: 10%; border-right: 1px solid #000;">пиздатые и охуенные пользователи</div>
        <div style="display: flex; justify-content: center; width: 90%;">пиздатый чат</div>
    </div>
    <div style="display: flex; justify-content: center; height: 5%; border-top: 1px solid #000;">поле для отправки пиздатых сообщений</div>
</div>