{{> head }}
<main>
    <div class="flex center height5proc borderbottom">
        <div class="flex center width10proc">
            <button style="height: min-content;"><a href="index.hbs">назад</a></button>
        </div>
        <div class="flex center width80proc borderright">
            <h1>чат</h1>
        </div>
        <div class="flex center width10proc">
            <button style="height: min-content;"><a href="user.hbs">user</a></button>
        </div>
    </div>
    <div style="height: 100%; display: flex;">
        <div class="flex center borderright width10proc">
            <ul>
                <li>user1</li>
                <li>user2</li>
                <li>user3</li>
                <li>user4</li>
            </ul>
        </div>
        <div class="flex center width100proc column">
            <div class="flex center" style="height: 90%;">
                <ul>
                    <li>massage1</li>
                    <li>massage2</li>
                    <li>massage3</li>
                    <li>massage4</li>
                </ul>
            </div>
            <form class="flex center column height10proc bordertop">
                <lable class="flex height100proc width100proc">
                    сообщение для отправки
                    <input class="height100proc width100proc bordernone" placeholder="введите сообщение" name="massage" />
                </lable>
            </form>
        </div>
    </div>
</main>
