<nav>
  <ul>
    <li><a href="404.hbs">404</a></li>
    <li><a href="500.hbs">500</a></li>
    <li><a href="registration.hbs">регестрация</a></li>
    <li><a href="login.hbs">логин</a></li>
    <li><a href="chat.hbs">чат</a></li>
    <li><a href="user.hbs">пользователь</a></li>
  </ul>
</nav>