<div>
  <div><a href="404.hbs">404</a></div>
  <div><a href="500.hbs">500</a></div>
  <div><a href="registration.hbs">регестрация</a></div>
  <div><a href="login.hbs">логин</a></div>
  <div><a href="chat.hbs">логин</a></div>
</div>