{{> head }}
<main>
    <h1>Авторизация</h1>
    <form style="width: 20%;">
        <lable style="display: flex; flex-flow: column;">Логин<input name="login" value="login" /></lable>
        <lable style="display: flex; flex-flow: column;">Пароль<input name="password" value="password" /></lable>
        <button><a href="chat.hbs">Войти</a></button>
        <button><a href="registration.hbs">Регистрация</a></button>
        <button><a href="index.hbs">назад</a></button>
    </form>
</main>
