<form>
    <div>
        <div>Логин</div>
        <input name="login" value="login" />
    </div>
    <div>
        <div>Пароль</div>
        <input name="password" value="password" />
    </div>
    <button><a href="chat.hbs">Войти</a></button>
    <button><a href="registration.hbs">Регистрация</a></button>
    <button><a href="index.hbs">назад</a></button>
</form>