<div>
    <div>Логин</div>
    <div>Пароль</div>
    <button><a href="chat.hbs">Авторизоваться</a></button>
    <button><a href="registration.hbs">нет аккаунта?</a></button>
    <div><a href="index.hbs">Все страницы</a></div>
</div>