<form>
    <div>
        <div>Пароль</div>
        <input name="oldPassword" value="oldPassword" />
    </div>
    <div>
        <div>Новый пароль</div>
        <input name="newPassword" value="newPassword" />
    </div>
    <div>
        <div>Новый пароль(ещё раз)</div>
        <input value="newPassword" />
    </div>
    <button onclick="">Изменить пароль</a></button>
    <button onclick=""><a href="index.hbs">Назад</a></button>
</form>