<main>
    <h1>Смена пароля</h1>
    <form style="width: 20%;">
        <lable style="display: flex; flex-flow: column;">Пароль<input name="oldPassword" value="oldPassword" /></label>
        <lable style="display: flex; flex-flow: column;">Новый пароль<input label="" name="newPassword" value="newPassword" /></lable>
        <lable style="display: flex; flex-flow: column;">Новый пароль(ещё раз)<input value="newPassword" /></lable>
        <button onclick="">Изменить пароль</a></button>
        <button onclick=""><a href="index.hbs">Назад</a></button>
    </form>
</main>
