<form>
    <div>Регистрация</div>
    <div>
        <div>Почта</div>
        <input name="email" />
    </div>
    <div>
        <div>Логин</div>
        <input name="login" />
    </div>
    <div>
        <div>Имя</div>
        <input name="first_name" />
    </div>
    <div>
        <div>Фамилия</div>
        <input name="second_name" />
    </div>
    <div>
        <div>Телефон</div>
        <input name="phone" />
    </div>
    <div>
        <div>Пароль</div>
        <input name="password" />
    </div>
    <div>
        <div>Пароль(ещё раз)</div>
        <input />
    </div>
    <div>
        <button onclick="">Зарегистрироваться</button>
        <button onclick=""><a href="login.hbs">Войти</a></button>
        <button onclick=""><a href="index.hbs">назад</a></button>
    </div>
</form>