<main>
    <h1>Регистрация</h1>
    <form style="width: 20%;">
        <lable style="display: flex; flex-flow: column;">Почта<input name="email" /></lable>
        <lable style="display: flex; flex-flow: column;">Логин<input name="login" /></lable>
        <lable style="display: flex; flex-flow: column;">Имя<input name="first_name" /></lable>
        <lable style="display: flex; flex-flow: column;">Фамилия<input name="second_name" /></lable>
        <lable style="display: flex; flex-flow: column;">Телефон<input name="phone" /></lable>
        <lable style="display: flex; flex-flow: column;">Пароль<input name="password" /></lable>
        <lable style="display: flex; flex-flow: column;">Пароль(ещё раз)<input /></lable>
    </form>
    <div>
        <button onclick=""><a href="login.hbs">Войти</a></button>
        <button onclick=""><a href="index.hbs">назад</a></button>
    </div>
</main>
