{{> head }}
<main>
    <h1>Регистрация</h1>
    <form class="width20proc column flex">
        <lable class="flex column">Почта<input name="email" /></lable>
        <lable class="flex column">Логин<input name="login" /></lable>
        <lable class="flex column">Имя<input name="first_name" /></lable>
        <lable class="flex column">Фамилия<input name="second_name" /></lable>
        <lable class="flex column">Телефон<input name="phone" /></lable>
        <lable class="flex column">Пароль<input name="password" /></lable>
        <lable class="flex column">Пароль(ещё раз)<input /></lable>
    </form>
    <div>
        <button onclick=""><a href="login.hbs">Войти</a></button>
        <button onclick=""><a href="index.hbs">назад</a></button>
    </div>
</main>
