<div>
    <div>Регистрация</div>
    <div>Почта</div>
    <div>Логин</div>
    <div>Имя</div>
    <div>Фамилия</div>
    <div>Телефон</div>
    <div>Пароль</div>
    <div>Пароль(ещё раз)</div>
    <button>Зарегистрироваться</button>
    <button><a href="login.hbs">Войти</a></button>
</div>