<div style="display: flex; flex-flow: column; width: 100%;">
    <div style="display: flex; justify-content: center;">аватар</div>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%; display: flex; justify-content: center;">почта:</div>
        <div style="width: 50%; display: flex; justify-content: center;">почта value</div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%; display: flex; justify-content: center;">логин</div>
        <div style="width: 50%; display: flex; justify-content: center;">логин value</div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%; display: flex; justify-content: center;">имя</div>
        <div style="width: 50%; display: flex; justify-content: center;">имя value</div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%; display: flex; justify-content: center;">фамилия</div>
        <div style="width: 50%; display: flex; justify-content: center;">фамилия value</div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%; display: flex; justify-content: center;">имя в чате</div>
        <div style="width: 50%; display: flex; justify-content: center;">имя в чате value</div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div style="width: 50%; display: flex; justify-content: center;">телефон</div>
        <div style="width: 50%; display: flex; justify-content: center;">телефон value</div>
    </div>
    <div style="display: flex; justify-content: center;"><button>изменить охуенные данные</button></div>
    <div style="display: flex; justify-content: center;"><button>изменить пиздатый пароль</button></div>
    <div style="display: flex; justify-content: center;"><a href="index.hbs">выйти</a></div>
</div>