<main>
    <h1>Профиль пользователя</h1>
    <div style="display: flex; justify-content: center;">
        <button onclick="" style="display: flex; justify-content: center;"><a href="avatar.hbs">аватар</a></button>
    </div>
    <form>
        <div style="display: flex; justify-content: center;">
            <lable style="display: flex; flex-flow: column;">почта<input style="display: flex; justify-content: center;" name="email" value="email" /></lable>
        </div>
        <div style="display: flex; justify-content: center;">
            <lable style="display: flex; flex-flow: column;">логин<input style="display: flex; justify-content: center;" name="login" value="login" /></lable>
        </div>
        <div style="display: flex; justify-content: center;">
            <lable style="display: flex; flex-flow: column;">имя<input style="display: flex; justify-content: center;" name="first_name" value="first_name" /></lable>
        </div>
        <div style="display: flex; justify-content: center;">
            <lable style="display: flex; flex-flow: column;">фамилия<input style="display: flex; justify-content: center;" name="first_name" value="first_name" /></lable>
        </div>
        <div style="display: flex; justify-content: center;">
            <lable style="display: flex; flex-flow: column;">имя в чате<input style="display: flex; justify-content: center;" name="display_name" value="display_name" /></lable>
        </div>
        <div style="display: flex; justify-content: center;">
            <lable style="display: flex; flex-flow: column;">телефон<input style="display: flex; justify-content: center;" name="phone" value="phone" /></lable>
        </div>
        <div style="display: flex; justify-content: center;">
            <button onclick="" style="display: flex; justify-content: center;">изменить данные</button>
        </div>
    </form>
    <div style="display: flex; justify-content: center;">
        <button onclick="" style="display: flex; justify-content: center;"><a href="password.hbs">изменить пароль</a></button>
        <button style="display: flex; justify-content: center;"><a href="index.hbs">выйти</a></button>
    </div>
</main>
