<div style="display: flex; flex-flow: column; width: 100%;">
    <form style="display: flex; justify-content: center; flex-flow: column wrap; align-content: space-around;">
        <div style="width: 50%; display: flex; justify-content: center;">аватар</div>
        <input style="width: 50%; display: flex; justify-content: center;" name="avatar" value="avatar" />
    </form>
    <form>
        <div style="display: flex; justify-content: center;">
            <div style="width: 50%; display: flex; justify-content: center;">почта:</div>
            <input style="width: 50%; display: flex; justify-content: center;" name="email" value="email" />
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="width: 50%; display: flex; justify-content: center;">логин</div>
            <input style="width: 50%; display: flex; justify-content: center;" name="login" value="login" />
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="width: 50%; display: flex; justify-content: center;">имя</div>
            <input style="width: 50%; display: flex; justify-content: center;" name="first_name" value="first_name" />
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="width: 50%; display: flex; justify-content: center;">фамилия</div>
            <input style="width: 50%; display: flex; justify-content: center;" name="first_name" value="first_name" />
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="width: 50%; display: flex; justify-content: center;">имя в чате</div>
            <input style="width: 50%; display: flex; justify-content: center;" name="display_name" value="display_name" />
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="width: 50%; display: flex; justify-content: center;">телефон</div>
            <input style="width: 50%; display: flex; justify-content: center;" name="phone" value="phone" />
        </div>
        <div style="display: flex; justify-content: center;">
            <button onclick="" style="display: flex; justify-content: center;">изменить данные</button>
        </div>
    </form>
    <div style="display: flex; justify-content: center;">
        <button onclick="" style="display: flex; justify-content: center;"><a href="password.hbs">изменить пароль</a></button>
        <button style="display: flex; justify-content: center;"><a href="index.hbs">выйти</a></button>
    </div>
</div>