{{> head }}

<main>
    <h1>Профиль пользователя</h1>
    <div class="flex center">
        <button onclick="" class="flex center"><a href="avatar.hbs">аватар</a></button>
    </div>
    <form>
        <div class="flex center">
            <lable class="flex column">почта<input class="flex center" name="email" value="email" /></lable>
        </div>
        <div class="flex center">
            <lable class="flex column">логин<input class="flex center" name="login" value="login" /></lable>
        </div>
        <div class="flex center">
            <lable class="flex column">имя<input class="flex center" name="first_name" value="first_name" /></lable>
        </div>
        <div class="flex center">
            <lable class="flex column">фамилия<input class="flex center" name="first_name" value="first_name" /></lable>
        </div>
        <div class="flex center">
            <lable class="flex column">имя в чате<input class="flex center" name="display_name" value="display_name" /></lable>
        </div>
        <div class="flex center">
            <lable class="flex column">телефон<input class="flex center" name="phone" value="phone" /></lable>
        </div>
        <div class="flex center">
            <button onclick="" class="flex center">изменить данные</button>
        </div>
    </form>
    <div class="flex center">
        <button onclick="" class="flex center"><a href="password.hbs">изменить пароль</a></button>
        <button class="flex center"><a href="index.hbs">выйти</a></button>
    </div>
</main>
