---
id: "root" 
---
<html>
    <head>
        <title>чат</title>
    </head>
    <body>
        <div id="{{ id }}"></div>
        <script src="./modules/index.js" type="module"></script>
    </body>
</html>
