@import url("./components/styles.pcss");

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

button {
    width: 100px;
    background: green;
    color: #FFF;
    border: 1px solid #009a00;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

button.back {
    background: #b9b900;
    border: 1px solid #fff100;
}

.chat-content {
    display: flex;
    flex-flow: row;
}
